{
    "env": {
        "browser": true,
        "mocha": true,
        "node": true,
        "phantomjs": true,
        "protractor": true,
    },
    "extends": "airbnb",
    "parser": "babel-eslint",
    "rules": {
        "indent": ["warn", 4],
        "max-len": ["off"],
    },
}
